<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>how to upload</title>
</head>
<body>
    <h1>instructions on how to upload files</h1>
    <h1>Download Excel Files</h1>
    <li><a href="/downloads/ti7.xlsx" download>Download E1</a></li>
    <li><a href="/downloads/hrs7.xlsx" download>Download E2</a></li>
    <li><a href="/downloads/c7.xlsx" download>Download E3</a></li>
<ul>
    
</ul>

</body>
</html>